<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收银机</title>
</head>
<body>
<form method="post" action="/" id="bill_list_form">
    <textarea name="shop_list" form="bill_list_form" style="height:300px;width:180px"></textarea>
    <br/>
    <input type="submit" value="提交"/>
</form>
{% if show == "ERROR" %}
    <h3>{{ message }}</h3>
{% elif show == "RESULT"%}
    <pre>***<没钱赚商店>购物清单***</pre>
    {% for item in products_describe %}
        <pre>{{ item }}</pre>
    {% endfor %}
    <pre>----------------------</pre>
    {% if discount_sum != None %}
        {% for item in discount_sum %}
            <pre>{{ item }}</pre>
        {% endfor %}
    <pre>----------------------</pre>
    {% endif %}
    <pre>总计：{{ "%.2f" % total_price }}（元）</pre>
    {% if save_total_price != 0 %}
        <pre>节省：{{ "%.2f" % save_total_price }}（元）</pre>
    {% endif %}
    <pre>**********************</pre>
{% endif %}
</body>
</html>